<div class="email-metadata">
  <table>
    <tr>
      <td><strong>Von:</strong></td>
      <td><%= @from.join(", ") %></td>
    </tr>
    <tr>
      <td><strong>An:</strong></td>
      <td><%= @to.join(", ") %></td>
    </tr>
    <tr>
      <td><strong>Cc:</strong></td>
      <td><%= @cc.join(", ") if @cc %></td>
    </tr>
    <tr>
      <td><strong>Datum:</strong></td>
      <td><%= format_date(@date) %></td>
    </tr>
  </table>
  <h3><%= @subject %></h3>
  <hr>
  <ul class="email-attachments">
    <% @attachments.each do |att| %>
      <li class="attachement">
        <span class="filename"><%= att.filename %></span>
        <span class="file-size"><%= format_attachment_size(att) %></span>
      </li>
    <% end %>
  </ul>
</div>
